.navbar{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;

}
h4{
    color:black;
    margin-left: 90px;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-line{
    display: flex;
    list-style: none;
    gap: 120px;
    font-size: 40px;
    margin-right: 80px;
   

}
a{
    text-decoration: none;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    
}